*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./components/img/hangmanBack.jpg);
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
      
}
h1{
  text-align: center;
  color: #fff;
  font-size: 45px;
 
  
}
.hangmanContainer{
  display: flex;
  justify-content: center;
  padding: 25px;
  position: relative;
}

.letterContainer{
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.wordLetter{
  width: 35px;
  text-align: center;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 3px solid black;
  height: 35px;
  
}

.keyboardContainer{
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 10px;
width: 575px;
gap: 10px 15px;

}

.boardBtn{
padding: 8px 15px;
cursor: pointer;
width: 42px;
border-radius: 10px;
background: linear-gradient(267deg, #E8B86D 0.36%, #AD49E1 102.06%);
}
.boardBtn:hover{
  transform: scale(1.1);
}
.hidden{
  display: none;
}
.restartBtn{
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  
}
.restartBtn:hover{
  transform: scale(1.1);
}

.highlightCorrect{
  background: linear-gradient(267deg, #36C2CE 0.36%, #6EC207 102.06%) !important;
}
.highlightIncorrect{
  background: linear-gradient(267deg, #151515 0.36%, red 102.06%) !important;
}
.winContainer{
  padding: 30px;
  font-size: 35px;
  position: absolute;
  top: 20rem;
  right: 40rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
  backdrop-filter: blur(4px);
  border: 1px solid black;
  border-radius: 10px;
  
}
.loseContainer{
  padding: 20px;
  font-size: 35px;
  position: absolute;
  bottom: 20rem;
  right: 39rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  backdrop-filter: blur(4px);
  border: 1px solid black;
  border-radius: 10px;
  
}
.show{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.livesContainer{
  font-size: 20px;
  
}
.rezCount{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.scoreWinContainer{
  padding: 5px;
  border: 3px solid rgb(13, 138, 34);
  align-self: center;
  color: rgb(13, 138, 34);
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.scoreLoseContainer{
  padding: 5px;
  border: 3px solid #FBA834;
  align-self: center;
  color: #FBA834;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ---------------Responsive------------------------------------- */

@media(max-width:900px) {
  .winContainer {
      top: 19rem;
      left: 22rem;
    }
  
    .loseContainer {
      bottom: 20rem;
      right: 19rem;
      
    }
}

@media(max-width:630px) {
  img {
      width: 270px;
      border-radius: 15px;
      background: gray;
      padding: 10px;
    }
  
    .letterContainer {
      width: 370px;
    }
  
    .keyboardContainer {
      gap: 5px 11px;
      width: 400px;
      height: 165px;
      padding: 5px;
    }
    .wordLetter{
      color: #FBA834;
      border-bottom: 3px solid gray;
      background: linear-gradient(270deg, yellow 30%, #8c1544 80%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 28px;
      font-weight: bold;
    }
  
    .boardBtn {
      display: flex;
      justify-content: center;
      width: 29px;
      padding: 5px 8px;
      align-items: center;
      
    }
  
    .winContainer {
      top: 16rem;
      left: 6rem;
      width: 211px;
    }
  
    .loseContainer {
      bottom: 22rem;
      right: 89px;
      font-size: 32px;
    }
    .livesContainer{
      background: linear-gradient(270deg, yellow 30%, #8c1544 80%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .show p {
      background: linear-gradient(270deg, yellow 30%, #8c1544 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media(max-width:330px) {
  img {
      width: 270px;
    }
  
    .letterContainer {
      width: 370px;
    }
  
    .keyboardContainer {
      gap: 5px 12px;
      width: 425px;
      height: 130px;
    }
  
    .boardBtn {
      display: flex;
      justify-content: center;
      width: 29px;
      padding: 5px 8px;
      align-items: center;
    }
  
    .winContainer {
      top: 18rem;
      left: 6rem;
      width: min-content;
    }
  
    .loseContainer {
      bottom: 19rem;
      right: 2rem;
      font-size: 32px;
    }
}